/* font-family: 'Mukta', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/* font-family: 'Quicksand', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import "styles/navBar.css";
@import "styles/main.css";
@import "styles/tablePacientes.css";
@import "styles/overlay.css";
@import "styles/modal.css";
@import "styles/tableConsultas.css";

:root {
    --surface: #121212;
    --elevation1: #1d1d1d;
    --elevation2: #2b2b2b;
    --secondary: #8cc9f2;
    --text: #FFF;
    font-size: 20px;
}

body {
    margin: 0;
    font-family: 'Mukta', sans-serif;
    font-size: 1rem;
    color: var(--text);
    background: var(--surface);
}

@media (max-width: 900px) {
    :root {
        font-size: 16px;
    }
}