table#tableConsultas {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Quicksand', sans-serif;
}

table#tableConsultas > thead {
    height: 60px;
}

table#tableConsultas > tbody > tr {
    height: 50px;
}

table#tableConsultas > tbody > tr:nth-of-type(odd) {
    background: rgb(238, 238, 238);
}

.btnCancelar {
    border: 0;
    background: rgb(230, 67, 67);
    border-radius: 8px;
    height: 40px;
    width: 100px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
}

@media (max-width: 900px) {
    table#tableConsultas {
        font-size: 0.8rem;
    }

    .btnCancelar {
        width: 100%;
    }
}