table {
    width: 70%;
    border-collapse: collapse;
    font-family: 'Quicksand', sans-serif;
}

thead > tr {
    background: var(--elevation2);
    height: 80px;
    border-bottom: 2px solid var(--secondary);
    border-radius: 8px 8px 0 0;
}

tr, td, th {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

tbody > tr:nth-of-type(even) {
    background: var(--elevation1);
    border: 2px solid var(--secondary);
}

tbody > tr {
    height: 50px;
}

@media (max-width: 900px) {
    table {
        width: 100%;
        font-size: 0.8rem;
    }
}