table.tableUsuarios {
    width: 70%;
    border-collapse: collapse;
    font-family: 'Quicksand', sans-serif;
}

table.tableUsuarios thead > tr {
    background: var(--elevation2);
    height: 80px;
    border-bottom: 2px solid var(--secondary);
}

table.tableUsuarios tr, table.tableUsuarios td, table.tableUsuarios th {
    text-align: center;
}

table.tableUsuarios tbody > tr:nth-of-type(even) {
    background: var(--elevation1);
    border: 2px solid var(--secondary);
}

table.tableUsuarios tbody > tr {
    height: 50px;
}

table.tableUsuarios td > button {
    border: 0;
    width: 100px;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bolder;
    font-weight: 0.8rem;
    font-family: 'Mukta', sans-serif;
}

button.btnConsultas {
    background: #A2D2FF;
}

button.btnAcoes {
    background: #5C7AEA;
    color: var(--text);
}

@media (max-width: 900px) {
    table.tableUsuarios {
        width: 100%;
        font-size: 0.8rem;
    }

    table.tableUsuarios td > button {
        width: 70px;
        height: 30px;
        font-size: 0.6rem;
    }
}